@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background-color: azure;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
}
.oculto {
	display: none;
}
.encabezado {
	background-color: #e4dccf;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.encabezado .bloq_campos_tiempo {
	width: 20%;
}

.bloque_tiempo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.descrip_tiempo {
	display: flex;
	flex-direction: row;
}
.descrip_tiempo .ico_tiempo {
	margin: 0;
	width: 40%;
}
.bloque_temperatura {
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
	align-items: start;
	justify-content: center;
	width: 100%;
	line-height: 1.25rem;
}
.bloque_temperatura .temp {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.25rem;
}
.bloque_temperatura .descrip {
	font-size: 0.9rem;
	line-height: 1.25rem;
}
.localidad {
	font-size: 0.9rem;
	line-height: 1.25rem;
	padding: 0 5px;
}

.encabezado .encabezado_fijo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
}

.encabezado_fijo img {
	width: 200px;
}

.contenedor_contacto {
	display: flex;
	justify-content: center;
	width: 20%;
}
.contenedor_contacto .btn_contacto {
	width: 12vw;
	padding: 7px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: whitesmoke;
	color: #002b5b;
	font-size: 1.1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}
.contenedor_contacto .btn_contacto:hover {
	background-color: #002b5b;
	color: whitesmoke;
}
.tit_principal {
	font-size: 2.3rem;
	font-weight: 700;
	text-align: center;
	margin: 15px 0;
	color: #155094;
}
.contenedor {
	display: flex;
	background-color: #f5f2ebfa;
	flex-grow: 1;
	padding-bottom: 10px;
}
.contenedor .estructura_contenido {
	width: 100%;
}
.contenedor_gral {
	background-color: white;
	margin: 15px;
	padding: 10px 20px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.pie_pagina {
	background-color: #002b5b;
	text-align: center;
}
.pie_pagina p {
	color: white;
	font-size: 1.2rem;
	padding: 8px 0;
}

.btn_form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 15px 10px;
}
.btn_guardar,
.btn_volver {
	width: 25vw;
	margin: 0 10px;
	padding: 10px;
	font-size: 1rem;
	font-weight: 700;
}
.btn_guardar {
	background-color: rgb(40, 156, 40);
	color: white;
	cursor: pointer;
}
.btn_guardar:hover {
	background-color: rgb(84, 202, 84);
}
.btn_volver {
	background-color: gray;
	text-decoration: none;
	color: white;
	text-align: center;
}
.btn_volver:hover {
	background-color: rgb(194, 194, 194);
}

.contenedor_form {
	margin: 10px;
}
.bloque_datos {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.bloque_campos {
	display: flex;
	flex-direction: column;
	margin: 5px 15px;
}
.label_form {
	margin: 8px 0;
	font-size: 1.2rem;
	font-weight: 700;
}
.input_form,
.textarea_form {
	border: solid 1px gray;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 10px;
	color: #64696d;
	box-shadow: 2px 2px 6px gray;
}

.bloque_descripcion {
	display: flex;
	flex-direction: column;
}

.error_form {
	color: red;
	font-weight: 700;
	margin-top: 5px;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* MQ */

@media screen and (max-width: 575px) {
	.encabezado {
		padding: 0;
	}
	.encabezado_fijo img {
		width: 150px;
		margin-left: 2px;
	}
	.encabezado .bloq_campos_tiempo {
		width: 20%;
	}

	.bloque_tiempo {
		margin-top: 5px;
	}

	.descrip_tiempo .ico_tiempo {
		width: 30%;
	}
	.bloque_temperatura {
		line-height: 1rem;
	}
	.bloque_temperatura .temp {
		font-size: 0.9rem;
		line-height: 1rem;
	}
	.bloque_temperatura .descrip {
		font-size: 0.8rem;
		line-height: 1rem;
	}
	.localidad {
		font-size: 0.8rem;
		line-height: 1rem;
	}
	.contenedor_contacto {
		margin-right: 5px;
	}
	.contenedor_contacto .btn_contacto {
		width: 30vw;
		font-size: 1rem;
	}
	.tit_principal {
		font-size: 2rem;
		margin: 10px 0;
	}
	.contenedor_gral {
		margin: 10px 0;
		padding: 10px 2px;
	}

	.pie_pagina p {
		font-size: 0.9rem;
	}
	.btn_guardar,
	.btn_volver {
		width: 40vw;
	}
	.contenedor_form {
		margin: 0;
	}
	.bloque_datos {
		display: flex;
		flex-direction: column;
	}
	.bloque_campos {
		margin: 5px;
	}
	.label_form {
		font-size: 1rem;
	}
}
@media screen and (max-width: 992px) {
	.encabezado {
		padding: 0 5px;
	}
	.encabezado_fijo img {
		width: 175px;
	}
	.contenedor_contacto .btn_contacto {
		width: 20vw;
	}

	.encabezado .bloq_campos_tiempo {
		width: 20%;
	}

	.bloque_tiempo {
		margin-top: 5px;
	}

	.descrip_tiempo .ico_tiempo {
		width: 30%;
	}
	.bloque_temperatura {
		line-height: 1rem;
	}
	.bloque_temperatura .temp {
		font-size: 0.9rem;
		line-height: 1rem;
	}
	.bloque_temperatura .descrip {
		font-size: 0.8rem;
		line-height: 1rem;
	}
	.localidad {
		font-size: 0.8rem;
		line-height: 1rem;
	}
	.contenedor_contacto {
		margin-right: 5px;
	}
	.contenedor_contacto .btn_contacto {
		width: 30vw;
		font-size: 1rem;
	}

	.contenedor_gral {
		padding: 10px;
	}

	.pie_pagina p {
		font-size: 0.9rem;
	}
	.btn_guardar,
	.btn_volver {
		width: 30vw;
	}
	.bloque_datos {
		display: flex;
		flex-direction: column;
	}
	.bloque_campos {
		margin: 5px;
	}
	.label_form {
		font-size: 1rem;
	}
}
